@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.panel {
  scroll-snap-align: center;
  scroll-snap-type: y mandatory;
  overscroll-behavior: contain;
  overflow-y: auto;
  width: 100%;
  height: '100vh';
}

.background-box {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
  width: 120;
  height: 120;

  z-index: -1;

  background-repeat: no-repeat;
  background-size: cover;

  scroll-snap-align: center;
  scroll-snap-type: mandatory;
  overscroll-behavior: contain;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.paper {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 85vw;
  min-height: 20vh;
  z-index: 1;

  position: relative;
}

.video {
  min-height: 100%;
  width: 100%;
  margin-top: -100vh;
  position: sticky;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 0;
  z-index: 0;
}

.video-container {
  height: 300px;
  width: 300px;
  position: relative;
}

.video-container video {
width: 100%;
height: 100%;
position: absolute;
object-fit: cover;
z-index: 0;
}

.paper-row {
  display: flex;
  justify-content: center;
}

.darkLink {
  color: aquamarine;
}

.darkLink:visited {
  color: rgb(185, 126, 224);
}

.darkLink:active {
  color: rgb(173, 189, 101);
}

.link {
  color: rgb(65, 151, 122);
}

.link:visited {
  color: rgb(109, 69, 133);
}

.link:active {
  color: rgb(88, 168, 101);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
